# Virtual environments
.venv/
venv/
env/
runs/
dataset/test/
dataset/train/
shape_dataset/
pretrained/
data/
Report.txt


# VS Code
.vscode/


# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Environment variables and secrets
.env

# OS files
.DS_Store
Thumbs.db
Report_generated_shapes.txt
